.column {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    border: 5px solid black;
    border-radius: 20px;
    /* width: auto; */
    padding: 10px 0px;
    justify-content: space-around;
    background-color: #ffffff80;
    margin: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* border: 5px solid blue; */
    /* padding: 10px; */
    /* margin-bottom: 20px; */
    /* border: 5px solid #d9d9d9; */
    border-radius: 20px;
    /* remove height when working on desktop */
    height: 40px;
    /* padding: 25px; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Initial opacity: 70% */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.9s ease;
    /* Transition effect */
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Opacity changes to 30% on hover */
}

.text {
    color: white;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding: 20px;
    font-family: "Bebas Neue";
    /* transition: opacity 5s ease; */
    transition: transform 0.9s ease, opacity 0.5s ease;
}

.overlay:hover .text {
    /* opacity: 0; */
    /* uncomment this for desktop */
    /* transform: translateY(-225%); */
    /* comment this for desktop */
    transform: translateX(-45%);
    color: #ffffff;
    /* #003300 */
    font-weight: bold;
    /* font-size: 30px; */
    /* background-color: #ffffff90; */
    /* padding: 5px; */
    /* border: 2px solid white; */
    /* Text opacity changes to 0 on hover */
}

/* album {
    border-radius: 20%;
    border: 2.5px solid white;
    padding: 2px;
} */

#RAnav,
#BBnav,
#Tnav,
#PPnav,
#YMnav,
#MITnav,
#Rnav,
#LUVnav,
#JWnav,
#KGnav {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    /* align-content: center; */
    row-gap: 20px;
    /* padding-bottom: 20px; */
    /* padding-bottom: 70px; */
    /* align-content: center; */
}

#RAnav>img,
#RAnav>iframe,
#BBnav>img,
#BBnav>iframe,
#Tnav>img,
#Tnav>iframe,
#PPnav>img,
#PPnav>iframe,
#YMnav>img,
#YMnav>iframe,
#MITnav>img,
#MITnav>iframe,
#Rnav>img,
#Rnav>iframe,
#LUVnav>img,
#LUVnav>iframe,
#JWnav>img,
#JWnav>iframe,
#KGnav>img,
#KGnav>iframe {
    border: 4px solid #00b300;
    border-radius: 10px;
    justify-self: center;
    /* margin-bottom: ; */
}

#RAnav>a,
#BBnav>a,
#Tnav>a,
#PPnav>a,
#YMnav>a,
#MITnav>a,
#Rnav>a,
#LUVnav>a,
#JWnav>a,
#KGnav>a {
    padding: 0px;
    /* color: #8181ff; */
}

#RAnav>a>h2,
#BBnav>a>h2,
#Tnav>a>h2,
#PPnav>a>h2,
#YMnav>a>h2,
#MITnav>a>h2,
#Rnav>a>h2,
#LUVnav>a>h2,
#JWnav>a>h2,
#KGnav>a>h2 {
    color: #00b300;
    font-family: "Bebas Neue";
}

#RAnav>h2,
#BBnav>h2,
#Tnav>h2,
#PPnav>h2,
#YMnav>h2,
#MITnav>h2,
#Rnav>h2,
#LUVnav>h2,
#JWnav>h2,
#KGnav>h2 {
    font-family: "Bebas Neue";
    font-size: 25px;
    color: #009900;
}

.sidenav>p {
    font-family: "Oswald";
    color: #009900;
    font-size: 17px;
}

.empty {
    padding: 50px;
    visibility: hidden;
}

#RAnav>#num,
#BBnav>#num,
#Tnav>#num,
#PPnav>#num,
#YMnav>#num,
#MITnav>#num,
#Rnav>#num,
#LUVnav>#num,
#JWnav>#num,
#KGnav>#num {
    font-size: 90px;
}

@media screen and (min-width: 550px) {
    /* tablet view */
    .column {
        grid-template-columns: auto auto;
        column-gap: 10px;
        padding: 15px;
    }
    .image-container {
        border-radius: 5px;
        height: auto;
        /* border: 2px white solid; */
    }
    .overlay:hover .text {
        transform: translateX(-125%);
    }
}

@media screen and (min-width: 1200px) {
    /* desktop view */
    .column {
        grid-template-columns: auto auto auto auto auto;
        padding: 15px;
        border: none;
        border-radius: 0;
        /* background-color: transparent; */
    }

    .image-container {
        position: relative;
        display: inline-block;
        overflow: hidden;
        /* border: 5px solid blue; */
        /* padding: 10px; */
        /* margin-bottom: 20px; */
        /* border: 5px solid #d9d9d9; */
        border-radius: 0px;
        /* remove height when working on desktop */
        height: auto;
        width: auto;
        /* padding: 25px; */
    }

    .overlay:hover .text {
        /* opacity: 0; */
        /* uncomment this for desktop */
        transform: translateY(-225%);
        /* comment this for desktop */
        /* transform: translateX(-45%); */
        color: #ffffff;
        /* #003300 */
        font-weight: bold;
        border-radius: 0px;
        height: auto;
        padding: 0px;
        /* font-size: 30px; */
        /* background-color: #ffffff90; */
        /* padding: 5px; */
        /* border: 2px solid white; */
        /* Text opacity changes to 0 on hover */
    }

    .overlay:hover .text {
        /* opacity: 0; */
        /* uncomment this for desktop */
        transform: translateY(-225%);
        /* comment this for desktop */
        /* transform: translateX(-45%); */
        color: #ffffff;
        /* #003300 */
        font-weight: bold;
        /* font-size: 30px; */
        /* background-color: #ffffff90; */
        /* padding: 5px; */
        /* border: 2px solid white; */
        /* Text opacity changes to 0 on hover */
    }
}